.article-block-toolbar {
	.responsive-layout;
	.left {
		float:left;
	}
	.middle {
		float:right;
	}
	.right {
		float:right;
	}

	.icon {
		margin: 5px;
		color: #3eb4e4;
	}

	.icon.disabled {
		color: #C7C7C7;
		cursor: default;
	}

	.icon-circle {
		color: white;
		font-size: 15px;
		text-align: center;
		border-radius: 47px;
		background-color: #3eb4c4;
		&.disabled {
			color: white;
			background-color: #c7c7c7;		
		}
		font-weight: bold;
	}

	.icon-circle span {
		font-family: 'Open Sans', sans-serif;
		position: relative;
		top: 3px;
		left: 0px;
	}

	&.small {
		display: none;
	}
}
.article-block-slider {
	overflow:hidden;
	.responsive-layout;
	.block-container {
		position:relative;
	}
	.block {
		float:left;
	}

}