@abs-arrow-spacing: @icon-size + (@icon-padding * 2) + @block-padding-hoz;
@abs-controls-width: @max-width;
@abs-arrows-controls-width: min(@abs-controls-width + (@abs-arrow-spacing * 2), @max-width);
@abs-non-mobile: ~"html:not(.os-ios):not(.os-android)";

.abs {
  position: relative;
  display: flex;
  flex-flow: column;

  > * {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;

    .is-abs-resetting& {
      opacity: 0;
    }

  }

  .block__container {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: @device-width-large;
    max-height: 100%;
  }

  .block {
    visibility: hidden;
  }

  &.is-abs-animating .block {
    visibility: visible;
  }

  &.is-abs-resetting .block {
    transition: none;
  }

}
