.has-slidercontrols-reset,
.has-slidercontrols-nextprevious {

  .block__container {
    // Add top padding to accomodate the reset and/or previous button
    padding-top: 3em;
  }

}

.has-slidercontrols-nextprevious {

  .article__inner {
    // Accomodate a trickle button
    padding-bottom: 3em;
  }

  .block__container {
    // Add  bottom padding to accomodate the next buttons
    padding-bottom: 3em;
  }

}

.has-slidercontrols-arrows {
  @media (max-width: @device-width-large + (@abs-arrow-spacing * 2)) {

    // Pull in the blocks sides to accomodate the arrow buttons on mobile and tablet
    .block__container {
      margin: 0 3em;
    }

  }

  // Keep arrows inside abs-arrows-controls-width
  @media (min-width: @abs-arrows-controls-width) {

    button[name="previousArrow"] {
      left: 50%;
      transform: translate(~"calc(-@{abs-arrows-controls-width} / 2)", -50%);
      .dir-rtl & {
        left: 50%;
        transform: translate(~"calc(-100% + @{abs-arrows-controls-width} / 2)", -50%);
      }
    }

    button[name="nextArrow"] {
      left: 50%;
      transform: translate(~"calc(-100% + @{abs-arrows-controls-width} / 2)", -50%);
      .dir-rtl & {
        left: 50%;
        transform: translate(~"calc(-@{abs-arrows-controls-width} / 2)", -50%);
      }
    }

  }
}

// Minimum of full-screen on mobile
.is-abs-full-height-on-mobile {

  .article__inner {
    @media (max-width: @device-width-large) {
      min-height: calc(100vh - @navigation-height);
    }
  }

}
